@font-face {
    font-family: 'Fascinate Inline';
    src: url('../fonts/FascinateInline-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Permanent Marker';
    src: url('../fonts/PermanentMarker-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.front-container {
    width: 80%;
    max-width: 1000px;
    background-color: #eca;
    padding: 20px 5px 20px 5px;
    margin: 40px auto 40px auto;
}

h1 {
    text-transform: uppercase;
    font-family: 'Fascinate Inline';
    word-spacing: 20px;
    letter-spacing: 15px;
    text-align: center;
    margin-bottom: 15px;
}

cite {
    display: block;
    font-size: 12px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.latin {
    text-align: left;
    color: #000;
    font-family: 'Permanent Marker';
    margin-top: 25px;
    font-size: 24px;
}

.spanish {
    text-align: right;
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: italic;
    font-size: 32px;
}