* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.front-container {
    width: 90%;
    max-width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px auto 40px auto;
    background-color: #c6d9ee;
    box-shadow: 0 0 5px 5px #cccccc;
    border-radius: 5px;
    padding: 20px;
}

h1 {
    text-align: right;
    font-size: 48px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
}

p {
    text-align: justify;
    text-indent: 40px;
    word-spacing: 6px;
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 14px;
}

.red {
    font-family: "Comic Sans MS" ;
    color: red;
}

.green {
    color: green;
    background-color: #ffffff;
    font-style: italic;
}

.orange {
    color: orange;
}

.brown {
    color: rgb(99, 74, 22);
    font-weight: bold;
}

footer {
    margin-top: 40px;
}