p {
    font-size: 16px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: -15px;
    text-indent: 60px;
}
span {
    font-weight: bold;
    font-size: 32px;
    color: blue;
}